 .container{
    display: grid;
    margin-top: 200px;
    place-items: center;
} 

.combinationAPP {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 80%;
    padding: 10px;
    box-shadow: rgba(37, 37, 38, 0.4) 0px 2px 4px, rgba(102, 102, 104, 0.3) 0px 7px 13px -3px, rgba(37, 37, 38, 0.4) 0px -3px 0px inset;
}
.content_box{
    height: 50px;
}

.result_box{
    height: 200px;
}
.btnSubmit {
    margin: 0px 6px;
    padding: auto;
}

.listOfItems{
    width: 90%;
    height: 180px;
    display: grid;
    margin-left: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(3, minmax(auto, 1fr) );
    grid-template-rows: auto;
}

.dropdown-item:hover{
    color: white;
    background-color:#0d6efd;
}

.alert{
    text-align: center;
    margin: 5px 0px;
    padding: 0px 3px 0px 3px;
    color: red;
}

